.news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    margin-right: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}