.Error{
    width: 60%;
    border: grey solid 1px;
    border-radius: 20px;
    padding:1rem;
    margin:3rem auto;
}
.Error img{
    width: 50%;
}
.Error p{
    padding:3rem ;
    padding-bottom: 1rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .Error{
        width: 95%;
        margin: 2rem 0.6rem;
    }
    .Error img{
        width: 90%;
    } 
    .Error p{
        padding:0.5rem ;
        padding-bottom: 0.6rem;
        text-align: center;
    }

}